.promo_reg 
{
    min-height: 799px;
    background: url('/src/img/fone2.jpg') center center/cover no-repeat;
}

.header_logo
{
    box-sizing: border-box;

    
    width: 158px;
    height: 134px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: table-cell;
    font-family: 'Doppio One', sans-serif;
    font-weight: 400;
    font-size: 21.7778px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;



    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}